#headerSocials {
	float: right;
	display: inline-grid;
	margin-right: 10px;
	margin-top: 15px;
	grid-template-rows:  [#facebookLogo] auto;
	grid-template-columns: [#facebookLogo] auto [#twitterLogo] auto [#youTubeLogo] auto [#linkedInLogo] auto [#pintrestLogo] auto [#instagramLogo] auto;
	grid-template-areas:
	"facebookLogo twitterLogo youTubeLogo linkedInLogo pintrestLogo instagramLogo";
	
}
#facebookLogo{
	grid-area: facebookLogo;
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
#twitterLogo{
	grid-area: twitterLogo;
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
#youTubeLogo{
	grid-area: youTubeLogo;
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
#linkedInLogo{
	grid-area: linkedInLogo;
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
#pintrestLogo{
	grid-area: pintrestLogo;
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
#instagramLogo{
	grid-area: instagramLogo;
	height: 20px;
	width: 20px;
	margin-left: 20px;
}

#headerSBar{
	float: right;
	position: relative;
	bottom: 10px;
	margin-right: 15px;
}

#pageHeader {
	background-color: black;
}
#headerNav {
	background-color: black;
}

#pageFooter {
	background-color: black;
	bottom: 0;
	width: 100%;
}

#NULogo {
	margin-left: 10px;
	height: 160px;
	width: 300px;
}
#NULogoF {
	height: 100px;
	width: 200px;
}


#navLink
{
	position: relative;
	top: 15px;
	float: left;
	color:white;
	text-decoration:none;
	margin-left: 15px;
	font-size: 17px;
}
#navLink:link
{
	border-bottom-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
#navLink:visited
{
	border-bottom-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
#navLink:hover
{
	border-bottom-color: white;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}
#navLink:active 
{
	border-bottom-color: white;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

#eventsFooter {
	background-color: black;
}