#tbackground{
 background-color:white;

  width:80%;
 margin:auto;
}
body{
  background-color: #f5f5f5;
}
h2{
  text-align: center;
}
#threadTitle{
  text-align: center;
  font-size: 150%;
}
#moreThread{
  text-align: left;
  background-color: #fff;
  border: 10px black;
  border-color: black;
}
#cbackground{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}